.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
:root {
  --bg-color: #fff8f0;
  --text-color: #000000;
  --nav-color: #111d4a;
  --color-light: #ffffff;
  --icon-color: #272727c1;
  --example-color: #00000043;
  --shadow-color: #000000;
  --category-color: #1e1e24;
  --card-color: #1e1e24;
  --bttxt-color: #ffffff;
  --purple-color: #92140c;
  --purple-bg: #4e42b2;
  --spl-bg: linear-gradient(
    to bottom,
    #6d5df3,
    #7364f4,
    #7a6bf4,
    #8071f5,
    #8678f5,
    #9385f7,
    #a093f9,
    #aca0fa,
    #c1b7fc,
    #d6cffe,
    #ebe7ff,
    #ffffff
  );
  --radtxt-clr: #000000;
}

.slide {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.pagi {
  color: rgb(146, 20, 12);
  border: solid 2px black;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.573);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 200ms ease;
}

.paa {
  display: flex;
  height: 5rem;
}
.pagarrow {
  width: 12rem;
  height: 6rem;
  align-items: center;
  display: flex;
  overflow-x: scroll;
  position: absolute;
  right: 12rem;
}

.mobile {
  display: none;
}

.rght {
  position: absolute;
  margin-top: 2rem;
  right: 10.5rem;
  color: rgb(146, 20, 12);
  font-size: 1.8rem;
  cursor: pointer;
}

.left {
  position: absolute;
  right: 25rem;
  color: rgb(146, 20, 12);
  font-size: 1.8rem;
  cursor: pointer;
  margin-top: 2rem;
}

.pagi.active {
  background-color: rgb(146, 20, 12);
  color: white;
  border: none;
}

.pagi:hover {
  background-color: rgb(146, 20, 12);
  color: white;
  border: none;
}

.pagination {
  display: flex;
  overflow-x: scroll;
  right: 12rem;
  gap: 1rem;
}

.slidebar {
  display: flex;
  width: 80%;
  overflow-x: scroll;
  gap: 1rem;
  border-radius: 0.5rem;
  transition: all 400ms ease;
}

.btnu {
  padding: 10px;
  white-space: nowrap;
  color: var(--text-color);
  background: rgba(0, 0, 0, 0.079);
  border-radius: 1rem;
  transition: all 400ms ease;
  font-weight: 500;
}
.btnu:hover {
  background-color: #92150cb8;
  color: white;
}

.activebt {
  background-color: #92150cba;
  color: white;
}

.lft {
  color: var(--text-color);
  font-size: 2.6rem;
  cursor: pointer;
}

.rgt {
  color: var(--text-color);
  font-size: 2.6rem;
  cursor: pointer;
}

.navv {
  background-color: var(--nav-color);
  z-index: 9999;
  position: fixed;
  width: 100%;
  top: 0;
  transition: all 500ms ease;
}

.color {
  background-color: var(--bg-color);
  transition: all 500ms ease;
  min-height: 100vh;
}

.dark {
  display: flex;
  margin-left: auto;
}

.bsbook {
  font-size: 5rem;
  color: white;
  transition: all 500ms ease;
}

.profile h3 {
  color: white;
  transition: all 500ms ease;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.ref {
  background-color: var(--bg-color);
  width: 100%;
  height: 0.01rem;
  transition: all 500ms ease;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.crds {
  background-color: var(--color-light);
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  transition: all 500ms ease;
}
.crdss {
  background-color: var(--color-light);
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  transition: all 500ms ease;
}

.crdss p {
  color: var(--text-color);
  transition: all 500ms ease;
}
.crdss span {
  color: var(--bttxt-color);
  background-color: var(--shadow-color);
  font-weight: 800;
  transition: all 500ms ease;
}

.crds h1 {
  color: var(--text-color);
  transition: all 500ms ease;
}
.crdss h1 {
  color: var(--text-color);
  transition: all 500ms ease;
}
.crds p {
  color: var(--text-color);
  transition: all 500ms ease;
}

.crds button {
  background-color: var(--purple-color);
  color: white;
  font-weight: 900;
  transition: all 500ms ease;
}
.crdss button {
  background-color: var(--purple-color);
  color: white;
  font-weight: 900;
  transition: all 500ms ease;
}

.pbtn {
  background-color: #1e1e24;
  color: white;
  font-weight: 900;
  transition: all 500ms ease;
  border-radius: 0.4rem;
}
.pbttn p {
  background-color: #111d4a;
  color: white;
  font-weight: 900;
  transition: all 500ms ease;
  border-radius: 0.4rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn.active {
  color: white;
  background-color: #92150cd6;
}

.btn {
  transition: all 300ms ease;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 0.3rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: var(--color-light);
  color: var(--category-color);
}

.tp {
  color: var(--category-color);
}

.search {
  border: 1px solid var(--text-color);
  border-radius: 2rem;
  background: white;
  color: black;
}

.search::placeholder {
  color: black;
}

.bst {
  color: var(--category-color);
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
}

.btn:hover {
  color: white;
  background-color: #92150cd6;
}

.btnbig {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  transition: all 300ms ease;
  color: var(--category-color);
}

.btnbig.active {
  color: #92140c;
}
.btnbig:hover {
  color: #92140c;
}

.uparrow {
  font-size: 3rem;
  cursor: pointer;
  color: var(--color-light);
  background-color: var(--text-color);
  border-radius: 2rem;
  transition: all 500ms ease;
}
.loginbg {
  background: var(--card-color);
}

.aitxt {
  color: #92140c;
}

.googlebg {
  background: #92140c;
  color: white;
}

.toolformbg {
  background-color: var(--card-color);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  transition: all 500ms ease;
}

.txtclr {
  color: var(--text-color);
  transition: all 500ms ease;
}

.tp {
  margin-top: 4rem;
}

.txt {
  margin-top: 4rem;
}

.profile {
  background-color: var(--bg-color);
  transition: all 500ms ease;
  /* height: 120vh; */
  padding: 4rem 0;
  /* display: flex; */
}
.prof {
  margin-top: 4rem;
  /* background-color: #ffffff; */
}
.submitprof {
  background-color: var(--card-color);
  padding: 0 2rem;
  display: flex;
  height: 18rem;
  border-radius: 0.5rem;
  color: white;
  gap: 2rem;
  align-items: center;
  transition: all 500ms ease;
}

.submitproff {
  background-color: var(--card-color);
  padding: 0 2rem;
  display: flex;
  height: 18rem;
  border-radius: 0.5rem;
  color: white;
  gap: 1rem;
  align-items: center;
  transition: all 500ms ease;
}

.proftext {
  margin-top: 17rem;
  /* display: flex; */
}

.sponsorbg {
  background-color: var(--bg-color);
  transition: all 500ms ease;
  padding: 8rem 0 2rem 0;
}

.sponscard {
  background-color: var(--card-color);
  display: flex;
  gap: 2rem;
  width: 37rem;
  padding: 0 2rem;
  height: 20rem;
  align-items: center;
  border-radius: 0.6rem;
  transition: all 500ms ease;
  color: white;
}

.bookmarkbg {
  /* background-color: var(--bg-color);
   min-height : 100vh ;
  padding: 1rem 0 1rem 0;
  transition: all 500ms ease; */
}

.bookback {
  background-color: var(--card-color);
  color: white;
  padding: 1rem;
  background-color: var(--color-light);
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  transition: all 500ms ease;
}

.btnn {
}

.btnn button {
  background-color: var(--purple-color);
  color: white;
  border-radius: 0.5rem;
  padding: 0.4rem 0.8rem;
  /* height: 1.5rem; */
  align-items: center;
  transition: all 500ms ease;
}

.toolbg {
  background-color: var(--bg-color);
  padding: 1.5rem 0;
  min-height: 100vh;
  transition: all 500ms ease;
}

.toolbtn {
  margin-top: -2rem;
  margin-bottom: 2rem;
  margin-right: 4rem;
}

.productbg {
  background-color: var(--bg-color);
  min-height: 100vh;
  padding: 9rem 0 3rem 0;
  transition: all 500ms ease;
  color: var(--text-color);
}

.pp {
  color: var(--bttxt-color);
}
.pbtnn {
  background-color: var(--shadow-color);
  border-radius: 0.3rem;
  color: white;
}

.book {
  background-color: var(--bg-color);
  min-height: 100vh;
  transition: all 500ms ease;
  padding: 2rem 0;
}

@media screen and (max-width: 600px) {
  .uparrow {
    font-size: 2.5rem;
    cursor: pointer;
  }
  .btn {
    color: var(--text-color);
  }
  .btnbig {
    color: var(--text-color);
  }

  .toolbg {
    padding: 0 0.85rem;
  }
  .profile {
    padding: 2rem 0.85rem;
  }
  .submitprof {
    padding: 0.2rem 0.2rem;
  }
  .toolbtn {
    margin-right: 1rem;
    margin-top: -3rem;
    margin-bottom: 1rem;
  }
  .pagarrow {
    width: 100%;
    justify-content: center;
    position: absolute;
    left: 20rem;
    display: none;
  }

  .rght {
    display: none;
    color: rgb(146, 20, 12);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .left {
    display: none;
    color: rgb(146, 20, 12);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .mobile {
    display: flex;
    overflow-x: scroll;
    width: 17rem;
  }

  .pagii {
    color: rgb(146, 20, 12);
    border: solid 2px black;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 2rem;
    background-color: rgba(255, 255, 255, 0.573);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 200ms ease;
  }
  .pagii.active {
    background-color: rgb(146, 20, 12);
    color: white;
    border: none;
  }

  .pagii:hover {
    background-color: rgb(146, 20, 12);
    color: white;
    border: none;
  }
}
