@import url("https://fonts.googleapis.com/css2?family=Grenze:wght@400;600&family=Montserrat:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: visible !important;
  scroll-behavior: smooth;
}

body {
  background: url("../public/bg.png") no-repeat;
  background: linear-gradient(
    to bottom,
    #6d5df3,
    #7364f4,
    #7a6bf4,
    #8071f5,
    #8678f5,
    #9385f7,
    #a093f9,
    #aca0fa,
    #c1b7fc,
    #d6cffe,
    #ebe7ff,
    #ffffff
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.card-image {
  width: 360px;
  height: 240px;
}

body.product-page {
  background-position: center -330px; /* Shifted position */
}

footer {
  margin-top: auto !important;
}

/* Add a CSS class to slide down the elements smoothly */
.slide-down {
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.rotate-icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.de-rotate {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.dropdown-menu {
  animation: fadeInOut 0.5s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.exit {
  animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

/* CSS Animation */
@keyframes slideInFromBottom {
  0% {
    /* Start the animation from the bottom */
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    /* Move the card to its original position */
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply the animation to the cards when the page loads */
.card {
  animation: slideInFromBottom 1s ease-out;
}

.bookmark-card {
  transition: transform 0.3s ease-in-out;
}
